/predicted_image
/mbbank_biz_captcha_dataset
/captcha_images
/another
/recaptchaenv
/captcha_images.rar
/db.rar
/mbbank_biz_captcha.zip
/mbbankbizcaptcha.rar
/temp.png
/mbbank_captcha_dataset.rar
/__pycache__